<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/txDIbdn7p6eYdFMVoHbd4wwrNkM.jpg">

    <ion-item>
      <ion-label class="ion-text-wrap">Neon Genesis Evangelion - O Fim do Evangelho</ion-label>
      <ion-chip>
        <ion-label color="success">84%</ion-label>
      </ion-chip>
    </ion-item>
  
    <ion-card-content>
      <p>19/07/1997</p>
      <br>
      <br>
      <ion-badge color="light">Drama</ion-badge>
      <ion-badge color="light">Ficção científica</ion-badge>
      <ion-badge color="light">Animação</ion-badge>
      <ion-badge color="light">Ação</ion-badge>
    </ion-card-content>
  </ion-card>


</ion-content>
