<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/i996T0lI1fGtFEowiH3V6eZthL0.jpg">

    <ion-item>
      <ion-label class="ion-text-wrap">De Volta para o Futuro</ion-label>
      <ion-chip>
        <ion-label color="success">83%</ion-label>
      </ion-chip>
    </ion-item>
  
    <ion-card-content>
      <p>25/12/1985</p>
      <br>
      <br>
      <ion-badge color="light">Aventura</ion-badge>
      <ion-badge color="light">Ficção científica</ion-badge>
      <ion-badge color="light">Comédia</ion-badge>
      <ion-badge color="light">Família</ion-badge>
    </ion-card-content>
  </ion-card>

</ion-content>
