<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/igw938inb6Fy0YVcwIyxQ7Lu5FO.jpg">

    <ion-item>
      <ion-label>Parasita</ion-label>
      <ion-chip>
        <ion-label color="success">85%</ion-label>
      </ion-chip>
    </ion-item>
  
    <ion-card-content>
      <p>07/11/2019</p>
      <br>
      <br>
      <ion-badge color="light">Comédia</ion-badge>
      <ion-badge color="light">Thriller</ion-badge>
      <ion-badge color="light">Drama</ion-badge>
    </ion-card-content>
  </ion-card>

</ion-content>
